{% extends "default.html" %}
{% block javascript %}
<!-- Jquery UI/jQuery -->
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery-ui.structure.css" rel="stylesheet" />
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery-ui.theme.css" rel="stylesheet" />
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery.multiselect.filter.css" rel="stylesheet" />
<link href="/static/assets/js/jquery-ui-1.11.4.custom/jquery.multiselect.css" rel="stylesheet" />

<!-- Site specific css.  -->
<link href="/static/assets/css/style.css" rel="stylesheet" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/static/assets/css/style_header.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/static/assets/css/query_details.css" type="text/css" media="screen, projection" />

<!-- Cesium Related.  -->
<link href="/static/assets/js/Cesium-1.19/Build/CesiumUnminified/Widgets/widgets.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/js/Cesium-1.19/Build/CesiumUnminified/Widgets/lighter.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div id="main-content">
  <div id="left-content" class="left-content">
    <div class="left-content-label" >
      Query Details
    </div>
    <div class="sub-content">
      <dl>
	<dt>
	  Query(Task) Metadata:
	</dt>
	<dd><b>User ID:</b> {{query.user_id}}</dd>
	<dd><b>Query ID:</b> {{query.query_id}}</dd>
	<dd><b>Status:</b> {% if query.complete %} Complete {% else %} Running... {% endif %}</dd>
	<dd><b>Start Time:</b> {{query.query_start}}</dd>
	<dd><b>End Time:</b> {{query.query_end}}</dd>
	<dt>
	  Data Metadata:
	</dt>
	<dd><b>Platform:</b> {{query.platform}}</dd>
	<dd><b>Product Type:</b> {{query.product_type}}</dd>
	<dd><b>Scene Count:</b> {{metadata.scene_count}}</dd>
	<dd><b>Pixel Count:</b> {{metadata.pixel_count}}</dd>
	<dt>
	  Query Parameters:
	</dt>
	<dd><b>(Lat, Lon) Min:</b> ({{query.latitude_min}} , {{query.longitude_min}})</dd>
	<dd><b>(Lat, Lon) Max:</b> ({{query.latitude_max}} , {{query.longitude_max}})</dd>
	<dd><b>Measurements:</b> {{query.measurements}}</dd>
	<dt>
	  Results:
	</dt>
	<dd><b>Result Path:</b> <a href={{result.result_path}} target="_blank">View image</a></dd>
	<dd><b>Data Path:</b> <a href={{result.data_path}}>Download tif</a></dd>
      </dl>
    </div>
  </div>
  <div id="right-content" class="right-content">
    <div id="image-div" class="image-content">
      <img src={{result.result_path}} class="image-display" />
      <span class="image-description">{{result.result_path}}</span>
    </div>
    <div id="scene-list-content" class="scene-list-content">
      <b>Scene List: </b>
      <ul class="scenes_list alternating">
        {% for acquisition, pixels, pixel_percentage in metadata.acquisitions_dates_with_pixels_percentages %}
          <dl class="scenes_list" id="scenes_{{ metadata_entry.query_id }}">
            <dt>{{ acquisition }}</dt>
            <dd>Clean pixels: <span>{{ pixels }}</span></dd>
            <dd>Total Pixels: <span>{{ metadata.pixel_count }}</span></dd>
            <dd>Clean Pixel Percentage: <span>{{ pixel_percentage|floatformat:2 }}%</span></dd>
          </dl>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
